.form__save {
  width: 358px;
  height: 50.15px;
  background: #000000;
  border-radius: 2px;
  color: white;
  margin-top: 48px;
  cursor: pointer;
  border: none;
  transition: 1s;
}

.form__save:hover {
  opacity: 0.8;
}

@media screen and (max-width: 425px) {
  .form__save {
    width: 238px;
    height: 46px;
  }
}