.modal__close-button {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.5s;
  background-image: url(../../../images/CloseIcon.svg);
  background-repeat: no-repeat;
  padding: 0;
  background-position: center;
  margin-bottom: 2px;
}

.modal__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 425px) {
  .modal__close-button {
    height: 26px;
    width: 26px;
  }
}