.modal__button {
  align-self: flex-end;
  background-color: black;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 1s;
}

.modal__button:hover {
  opacity: 0.6;
}


@media screen and (max-width: 425px) {
  .modal__button {
height: 26px;
width: 26px;
  }
}
