.photo-grid__like-button {
  height: 18.13px;
  width: 20.76px;
  background-color: white;
  object-fit: cover;
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  outline: none;
  margin-top: 6px;
  background-image: url(../../../images/likeIcon.svg);
  transition: 0.5s;
  cursor: pointer;
}

.photo-grid__like-button:hover {
  opacity: 0.5;
}